<div class="container cntin2 mt-5">

    <div class="row">
        <div class="col-lg-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h4 class="mt-2 ">Payment Book</h4>
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>
                    <div class="col-lg-8">
                    </div>

                </div>

            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Entry date & Time</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Vendor name</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Payment type</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <div class="dropdown ">
                            <button id="ipn" class=" " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-caret-down float-right"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>




            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3  col-4">
                        <span class="mt-2 respfnt1">GST</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" id="inpt2" type="text" placeholder="" />
                    </div>

                </div>

            </div>


            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">TDS</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Vendor Status</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Payment Mode</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <div class="dropdown ">
                            <button id="ipn" class=" " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-caret-down float-right"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Payee Name</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Account Details</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Bank credited date</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>


            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">BH status</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <div class="dropdown ">
                            <button id="ipn" class=" " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="icofont-caret-down float-right"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
        <div class="col-lg-6">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-12 ">
                    </div>
                    <div class="col-lg-8">
                    </div>

                </div>

            </div>
            <div class="container mt-5 pt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Vendor ID</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Package</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>


            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Payment amount</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>




            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3  col-4">
                        <span class="mt-2 respfnt1">KFC</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" id="inpt2" type="text" placeholder="" />
                    </div>

                </div>

            </div>


            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Wallet balance</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>


            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Payment date</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>


            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Payment referenceNo</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Bank Name</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">Branch</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">BH Approved /Rejected Date</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>


            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-3 col-4">
                        <span class="mt-2 respfnt1">BH Comment</span>
                    </div>
                    <div id="inpt2" class="col-lg-9 col-8">
                        <input class="mt-2" id="inp" type="text" placeholder="" />
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div id="bglst" class="container-fluid text-center mx-auto d-block">
        <div class="container">

            <br>
            <div class="container mx-auto d-block">
                <button type="button" id="btn1bg7" class="btn btn-warning btn-lg   mt-3 ml-3"><a href=".html">Upload
                        Payment
                        Proof</a></button>
                <button type="button" id="btn1bg7" class="btn btn-warning btn-lg   mt-3 ml-3"><a
                        href=".html">Submit</a></button>
                <button type="button" id="btn1bg7" class="btn btn-warning btn-lg   mt-3 ml-3"><a
                        href=".html">Approved</a></button>
            </div>
        </div>

    </div>
</div>