<div class="container mt-5">
  <div class="row">
    <div class="col-md-4  ">
      <div id="vv" class="align-items-center p-5" (click)="navigateToAdminPanel()">
        <h1 class="text-center text-white ">56</h1>
        <h4 class="text-center text-white ">Admin Panel</h4>
      </div>
    </div>
    <div class="col-md-4  ">
      <div id="vv1" class="align-items-center p-5" (click)="navigateToVendorDashboard()">
        <h1 class="text-center text-white ">18</h1>
        <h4 class="text-center text-white ">Vendor Management</h4>
      </div>
    </div>
    <div class="col-md-4  ">
      <div id="vv2" class="align-items-center p-5" (click)="navigateToLead()">
        <h1 class="text-center text-white ">22</h1>
        <h4 class="text-center text-white ">Lead Management</h4>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-4  ">
      <div id="vv3" class="align-items-center p-5">
        <h1 class="text-center text-white ">36</h1>
        <h4 class="text-center text-white ">Wallet Management</h4>
      </div>
    </div>
    <div class="col-md-4  ">
      <div id="vv4" class="align-items-center p-5">
        <h1 class="text-center text-white ">16</h1>
        <h4 class="text-center text-white ">Payment Panel</h4>
      </div>
    </div>
    <div class="col-md-4  ">
      <div id="vv5" class="align-items-center p-5">
        <h1 class="text-center text-white ">56</h1>
        <h4 class="text-center text-white ">Reports</h4>
      </div>
    </div>
  </div>
</div>
<div id="bb1" class="container mt-4 ">


  <div class="container mt-3">
    <div class="row">
      <div style="background-color:#ebedeb" id="in" class="col-lg-5 ml-3 mt-4">
        <p class="mt-2"><a href="10.html">Search by vendor</a><i class="icofont-search-1 float-right mt-2"></i></p>

      </div>
      <div style="background-color:#ebedeb" id="in" class="col-lg-5 ml-3 mt-4">
        <p class="mt-2"><a href="3.html">Add vendor</a><i class="icofont-ui-add float-right mt-2"></i></p>
      </div><br>

    </div>

  </div>

</div>