<div class="container">
    <div class="container cntin2 mt-5">


      <h4 class="mt-2 ">Initiate Refund</h4>



      <div class="row">
        <div class="col-lg-2 col-5 mt-3">
          <span class="mt-2 respfnt1">Enter Vendor Name/ID</span>
        </div>
        <div id="inpt2" class="col-lg-5 col-7">
          <input class="mt-2" id="inp" type="text" placeholder="" />
        </div>

      </div>


      <div class="mt-4" style="overflow-x:auto;">

        <table class="table  table-bordered tbl" style="width:100%">
          <thead class="mt-3">
            <tr>
              <th class="dtahed respfnt">vendor ID</th>
              <th class="dtahed respfnt">vendor name</th>
              <th class="dtahed respfnt" id="pckg">Category</th>
              <th class="dtahed respfnt">Onboarded Date</th>
              <th class="dtahed respfnt">Package</th>
              <th class="dtahed respfnt">Vendor status</th>
              <th class="dtahed respfnt">Wallet balance</th>
              <th class="dtahed respfnt">Wallet status</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="dta respfnt">1</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">
                Lorem
              </td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
            </tr>

            <tr>
              <td class="dta respfnt">1</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">
                Lorem
              </td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
            </tr>



          </tbody>
        </table>
      </div>



      <div class="mt-4" style="overflow-x:auto;">

        <table class="table  table-bordered tbl" style="width:100%">
          <thead class="mt-3">
            <tr>
              <th class="dtahed respfnt">Wallet history</th>
              <th class="dtahed respfnt">SL no</th>
              <th class="dtahed respfnt" id="pckg">Date</th>
              <th class="dtahed respfnt">Amount</th>
              <th class="dtahed respfnt">Mode</th>
              <th class="dtahed respfnt">References</th>
              <th class="dtahed respfnt">W-Balance</th>


            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="dta respfnt">1</td>
              <td class="dta respfnt">Lorem</td>

              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
            </tr>

            <tr>
              <td class="dta respfnt">1</td>
              <td class="dta respfnt">Lorem</td>

              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
              <td class="dta respfnt">Lorem</td>
            </tr>



          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-lg-6">

          <div class="container mt-5">
            <div class="row">
              <div class="col-lg-3 col-5">
                <span class="mt-2 respfnt1">Activity ID</span>
              </div>
              <div id="inpt2" class="col-lg-9 col-7">
                <input class="mt-2" id="inp" type="text" placeholder="" />
              </div>

            </div>

          </div>
          <div class="container mt-3">
            <div class="row">
              <div class="col-lg-3 col-5">
                <span class="mt-2 respfnt1">Raised By</span>
              </div>
              <div id="inpt2" class="col-lg-9 col-7">

                <input class="mt-2" id="inp" type="text" placeholder="" />
              </div>

            </div>

          </div>


          <div class="container mt-3">
            <div class="row">
              <div class="col-lg-3 col-5">
                <span class="mt-2 respfnt1">Refund Amount</span>
              </div>
              <div id="inpt2" class="col-lg-9 col-7">

                <input class="mt-2" id="inp" type="text" placeholder="" />
              </div>

            </div>

          </div>

          <div class="container mt-3">
            <div class="row">
              <div class="col-lg-3 col-5">
                <span class="mt-2 respfnt1">Remarks</span>
              </div>
              <div id="inpt2" class="col-lg-9 col-7">

                <input class="mt-2" id="inp" type="text" placeholder="" />
              </div>

            </div>
          </div>






        </div>
        <div class="col-lg-6">
          <div class="container ">
            <div class="row">
              <div class="col-lg-12 ">
              </div>
              <div class="col-lg-8">
              </div>

            </div>

          </div>
          <div class="container mt-5 ">
            <div class="row">
              <div class="col-lg-3 col-5">
                <span class="mt-2 respfnt1">Raised Date & Time</span>
              </div>
              <div id="inpt2" class="col-lg-9 col-7">

                <input class="mt-2" id="inp" type="text" placeholder="" />
              </div>


            </div>

          </div>
          <div class="container mt-3">
            <div class="row">
              <div class="col-lg-3 col-5">
                <span class="mt-2 respfnt1">Refund Type</span>
              </div>
              <div id="inpt2" class="col-lg-9 col-7">

                <input class="mt-2" id="inp" type="text" placeholder="" />
              </div>


            </div>

          </div>


          <div class="container mt-3">
            <div class="row">
              <div class="col-lg-3 col-5">
                <span class="mt-2 respfnt1">Refund Reason</span>
              </div>
              <div id="inpt2" class="col-lg-9 col-7">

                <input class="mt-2" id="inp" type="text" placeholder="" />
              </div>


            </div>

          </div>
        </div>

        <button type="button" id="btn1bg6" class="btn btn-warning mx-auto d-block btn-lg  mt-3 ml-2"><a
            href=".html">Submit</a></button>



      </div>
    </div>
  </div>
