<div class="container">
    <div class="container cntin2 mt-5">

        <h4 class="mt-2 ">Payment Desk</h4>

        <div class="btn-group">
            <button type="button" class="btn btn dropdown-toggle  btnsze2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Sort By
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>

        <div class="mt-4" style="overflow-x:auto;">

            <table class="table  table-bordered tbl" style="width:100%">
                <thead class="mt-3">
                    <tr>
                        <th class="dtahed respfnt">Entry Date</th>
                        <th class="dtahed respfnt">Vendor Id</th>
                        <th class="dtahed respfnt" id="pckg">Package</th>
                        <th class="dtahed respfnt">Payment type</th>
                        <th class="dtahed respfnt">Payment amount</th>
                        <th class="dtahed respfnt">GST</th>
                        <th class="dtahed respfnt">KFC</th>
                        <th class="dtahed respfnt">TDS</th>
                        <th class="dtahed respfnt">Wallet balance</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">
                            Lorem
                        </td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>

                        <td class="dta respfnt">
                            <div class="btn-group">
                                <button type="button" class="btn btn  btnsze1">
                                    Details
                                </button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">
                            Lorem
                        </td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>

                        <td class="dta respfnt">
                            <div class="btn-group">
                                <button type="button" class="btn btn  btnsze1">
                                    Details
                                </button>

                            </div>
                        </td>
                    </tr>



                </tbody>
            </table>
        </div>


        <div class="mt-4" style="overflow-x:auto;">

            <table class="table  table-bordered tbl" style="width:100%">
                <thead class="mt-3">
                    <tr>
                        <th class="dtahed respfnt">Payment date</th>
                        <th class="dtahed respfnt">Bank credited date</th>
                        <th class="dtahed respfnt" id="pckg">Transaction Type</th>
                        <th class="dtahed respfnt">Finance Approval Status</th>
                        <th class="dtahed respfnt">Finance approved date</th>
                        <th class="dtahed respfnt" id="pckg">Payment type</th>
                        <th class="dtahed respfnt">Payment reference number</th>
                        <th class="dtahed respfnt">Bank name</th>
                        <th class="dtahed respfnt" id="pckg">Bank state</th>
                        <th class="dtahed respfnt">Bank city</th>
                        <th class="dtahed respfnt" id="pckg">Branch</th>
                        <th class="dtahed respfnt" id="pckg">Bank account no</th>
                        <th class="dtahed respfnt">Payee name</th>
                        <th class="dtahed respfnt" id="pckg">Tid number</th>
                        <th class="dtahed respfnt" id="pckg">Cheque date</th>
                        <th class="dtahed respfnt">Business head approve unapproved reason</th>
                        <th class="dtahed respfnt" id="pckg">Business head approve unapproved date</th>
                        <th class="dtahed respfnt">BH comments</th>
                        <th class="dtahed respfnt" id="pckg">Payment Documents</th>
                        <th class="dtahed respfnt" id="pckg">Finance Comment</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">
                            <div class="btn-group">
                                <button type="button" class="btn btn  btnsze1">
                                    Details
                                </button>

                            </div>
                        </td>




                    </tr>

                    <tr>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">Lorem</td>
                        <td class="dta respfnt">
                            <div class="btn-group">
                                <button type="button" class="btn btn  btnsze1">
                                    Details
                                </button>

                            </div>
                        </td>




                    </tr>



                </tbody>
            </table>
        </div>
        <button type="button" id="btn1bg7" class="btn btn-warning btn-lg  mt-3 ml-2"><a href=".html">SUBMIT for
                Approval</a></button>
        <button type="button" id="btn1bg6" class="btn btn-warning btn-lg  mt-3 ml-2"><a href=".html">SUBMIT</a></button>




    </div>
</div>